/* INITIALIZERS + DEFAULTS
 * ============================== */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

.App__view-cart-wrapper {

}

.App__view-cart-wrapper2 {
	position: relative;

	bottom: 0vh;
	right: 24vw;

	display: flex;
	justify-content: flex-end;


}

.App__view-cart {

	font-size: 45px;
	border: none;
	background: none;
	cursor: pointer;
	color: #161616;
}




/* CART
  * ============================== */
.Cart {
	position: absolute;
	top: 0vh;
	right: 0;
	z-index: 30;
	height: 85vh;
	width: 85vw;
	background-color: white;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	border-left: 1px solid #e5e5e5;
	transform: translateX(100%);
	transition: transform 0.15s ease-in-out;

}

.Cart--open {
	transform: translateX(0);

	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto 0vw;
}
.Cart__close {

	position: absolute;
	right: 7vw;
	top: 5vh;
	font-size: 35px;
	color: #999;
	border: none;
	background: transparent;
	transition: transform 100ms ease;
	cursor: pointer;
}
.cartCounterWrapper {
	text-align: center;
	position: relative;
	border-radius: 100%;
	width: 5vw;
	height: auto;
	left: 8vw;
	bottom: 5vw;
	background: blue;
}
.cartCounter {
	font-size: 1.2rem;
	text-shadow: 1px 1px #161616;
	color: #fafafa;

}
.Cart__header {

	position: relative;
	padding: 35px;
	min-width: 80vw;
	border-bottom: 1px solid #e5e5e5;
	flex: 0 0 auto;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.titleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.titleWrapper > h2 {
	margin-right: 15vw;
}
.clearButton {
	max-height: 5vh;
}
.Cart__line-items {
	flex: 1 0 auto;
	margin: 0 auto;
	padding: 20px;
	max-width: 80vw;
	max-height: 25vh;
	overflow-y: scroll;
	border: 1px solid lightgray;

}

.Cart__footer {
	max-width: 85vw;

	padding: 20px;
	border-top: 1px solid #e5e5e5;
	flex: 0 0 auto;
}

.Cart__checkout {
	width: 75vw;
	margin-top: 20px;


}

.Cart-info {
	padding: 0px 20px 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Cart-info__total {

	text-transform: uppercase;

}

.Cart-info__small {
	font-size: 11px;
}

.Cart-info__pricing {


	margin-right: 15vw;
}

.pricing {
	margin-left: 5px;
	font-size: 16px;
	color: black;
}

/* LINE ITEMS
  * ============================== */
.Line-item {
	margin-bottom: 0px;
	overflow: hidden;
	backface-visibility: visible;
	min-height: 65px;
	position: relative;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
.lineItemDiv {

	margin: 1vh 0;
	padding-bottom: 1vh;
}
.Line-item__img {
	width: 65px;
	height: 65px;
	border-radius: 3px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #e5e5e5;
	position: absolute;
}

.Line-item__content {
	width: 100%;
	padding-left: 75px;

}

.Line-item__content-row {
	display: inline-block;
	width: 100%;
	margin-bottom: 5px;
	position: relative;
}

.Line-item__variant-title {
	float: right;
	font-weight: bold;
	font-size: 11px;
	line-height: 17px;
	color: #767676;
}

.Line-item__title {
	color: #4e5665;
	font-size: 15px;
	font-weight: 400;
}

.Line-item__price {
	line-height: 23px;
	float: right;
	font-weight: bold;
	font-size: 15px;
	margin-right: 40px;
}

.Line-item__quantity-container {
	border: 1px solid #767676;
	float: left;
	border-radius: 3px;
}

.Line-item__quantity-update {
	color: #767676;
	display: block;
	float: left;
	height: 21px;
	line-height: 16px;
	font-family: monospace;
	width: 25px;
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
}

.Line-item__quantity-update-form {
	display: inline;
}

.Line-item__quantity {
	color: black;
	width: 38px;
	height: 21px;
	line-height: 23px;
	font-size: 15px;
	border: none;
	text-align: center;
	-moz-appearance: textfield;
	background: transparent;
	border-left: 1px solid #767676;
	border-right: 1px solid #767676;
	display: block;
	float: left;
	padding: 0;
	border-radius: 0;
}

.Line-item__remove {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	background: 0;
	font-size: 20px;
	top: -4px;
	opacity: 0.5;
}

.Line-item__remove:hover {
	opacity: 1;
	cursor: pointer;
}
